*{
    margin:0;
    padding:0;
}

:root {
    --bg-black: #0F0F0F;
    --hr-color: #c5c5c5;
    --lightest-font: #737373;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
	border: none;
    height: 1px;
    background-color: var(--hr-color);
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}


/* ---------------------------------------------- HEADER NAVIGATION BAR ---------------------------------------------- */
 

nav {
    width: 100vw; /* Ensure it covers the full viewport width */
    height: 5rem;
    padding: 1rem 1.8rem; /* Adds padding to the left and right 2.5*/ 
    position: fixed;
    display: flex;
    justify-content: space-between; /* Distributes items to the edges */
    align-items: center; /* Centers items vertically in the nav */
    z-index: 1;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav a {
    font-family: "Times New Roman","EB Garamond", serif;
    font-size: 0.88rem; /*14px*/ 
    font-weight: 100;
    color: Black;
    padding:1rem 0.3rem;
}


#logoFont {
    font-family: "Times New Roman","EB Garamond", serif;
    font-size: 1.25rem;
    font-style: italic;
    padding: 1rem;
}

.divider{
    width:1px;
    height:1.25rem;
    background-color: var(--hr-color);
}

nav i {
    padding: 0 .5rem;
}

/* ------------ dark mode nav ------------ */

.dark-mode {
    background-color: var(--bg-black);
    color:White;
}

.dark-mode a, .featured-project h3 {
    color: White;
}

.dark-mode .divider, .dark-mode hr{
    background-color: #636363;
}

.dark-mode  p, .dark-mode i, .dark-mode  h4 {
    color: #9F9F9F;
}



/* ---------------------------------------------- HOMEPAGE SECTION CONTAINERS ---------------------------------------------- */


.introduction {
    padding: 8rem 0rem;
    width: 65%;
}

.featured-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 3rem 0 5rem 0; /*top right bot left*/
}

.featured-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25rem;
    align-items: flex-start;
}

.lockup {
    display: flex;
    flex-direction: column;
    gap:0.75rem;
    width: 90%;
}

.featured-project img {
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
}

#footer {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ------------------------------------------------------ PROJECT PAGE ------------------------------------------------------ */


/* ------------ structure ------------ */
.page-content {
    margin: 5rem 2.5rem 0 2.5rem; /*top right bot left*/
    display: flex;
    flex-direction: column; /* Ensure project-page expands */
    flex-grow: 1; /* Take up remaining space */
    overflow-y: auto; /* Enable scrolling */
    scroll-snap-type: y mandatory; /* Enable snap scrolling */
}

.one-page {
    display: flex;
    justify-content: space-between; /* Align sections */
    scroll-snap-align: start; /* Snap at the start of each section */
    margin-bottom: 2.5rem;
}

/* ----- left ----- */

.textPin { /* Left side of the page */
    flex-basis: 35.5%; /* Width of the text pin */
    display: flex;
    flex-direction: column;
}

.stickyPage {
    position: sticky;
    top: 0; /* Adjust this to match the height of your header */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; /* Let the height adjust naturally */
    min-height: calc(100vh - 5rem - 3rem); /* Sticky area adjusts to viewport minus header */
}

.table-row {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    gap: 2rem;
}

.table-row h4 {
    min-width: 8.75rem;
    line-height: 180%;
    align-items: center;
    height: 100%;
}

/* ----- right ----- */

.imagePin {
    gap: 2.5rem;
    width: 61.3%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}
  
.imagePin img {
    height: auto;
    width: 100%;
}

/* ----- text ----- */

.active h3 {
    text-decoration: underline;
    color: black;
}

#section-title {
    width: 90%;
    padding:3rem 0;
}

#body-width {
    width:82%;
}


/* ------------------------------------------------ GENERAL TEXT STYLES ------------------------------------------------ */


ul {
    display: flex; /* Makes ul a flex container */
    list-style-type: none;
    gap: 1rem;
    align-items: center; /* Centers items vertically in the nav */
}

a {
    text-decoration: none;
}

p {
    font-family: "EB Garamond", serif;
    font-size: 1rem; /*16px*/
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0;
    color: black;
}

h2 {
    font-family: "Times Now", "Times New Roman", serif;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: -0.01rem;
}

h3 {
    font-size: 0.97rem; /*16px*/ 
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    color: var(--lightest-font);
}

h4 {
    font-size: 0.84rem; /*14px*/ 
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    color: var(--lightest-font);
}

@font-face {
    font-family: "Times Now";
    src: url("fonts/TimesNow-SemiLight.tt;f");
}


/* ------------------------------------------------ BREAKPOINTS ------------------------------------------------ */


/* ----- regular stuff ----- */
#show-on-mobile {
    display: none;
}

/* --------------- desktop media queries --------------- */

@media only screen and (min-width: 1550px) {
    /* homepage */
    .introduction {
        width: 60%;
    }
}

@media only screen and (max-width: 1396px) {
    /* homepage */
    .introduction {
        width: 72%;
    }
}

@media only screen and (max-width: 1268px) {
    /* homepage */
    .introduction {
        width: 80%;
    }

    /* project page */
    #show-on-mobile {
    display: inline;
    }

    #show-on-mobile i {
        display: none;
    }

    .hide-on-small {
        display: none;
    }

    #section-title {
        width: 100%;
    }
    
    #body-width {
        width:100%;
    }

    .table-row h4 {
        min-width: 7.5rem;
        line-height: 180%;
    }

    .table-row {
        padding: 1rem 0;
        gap: 1rem;
    }
}

@media only screen and (max-width: 1150px) {
    /* homepage */
    .introduction {
        width: 90%;
    }
}

/* --------------- tablet media queries --------------- */

@media only screen and (max-width: 1025px) { /* ipad pro */
    /* homepage */
    .featured-project {
        gap: 0.5rem;
    }
    
    /* project page */
    .one-page {
        flex-direction: column;
        justify-content: flex-start; 
        position: relative;
        z-index: 2;
        min-height: calc(100vh - 5rem);
        margin-bottom: 0;
    }

    .textPin { 
        top: 0;
        flex-direction: column;
        justify-content:flex-start;
        height:fit-content;
    }

    .stickyPage {
        position: sticky;
        top: 0; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto; 
        min-height: auto;
        padding-bottom: 4rem;
    }
 
    #section-title {
        width: 70%;
        padding:3.5rem 0 2.5rem 0;
    }

    #body-width {
        width:65%;
    }

    h3 {
        font-size: 0.9rem;
    }

    .imagePin {
        position: relative;
        overflow-y: auto;
        width: 100%;
        gap: 1rem;
        padding-bottom: 2.5rem;
        height: fit-content;
    }
}

@media only screen and (max-width: 800px) {
    /* homepage */
    .featured-work {
        flex-direction: column;
        gap: 5rem;
        padding: 3rem 0 5rem 0; /*top right bot left*/
    }
    
    .featured-project {
        gap: 1.25rem;
    }
    
    .featured-project img {
        padding-bottom: 1.25rem;
    }

    #show-on-mobile i {
        display: inline;
        padding: 0 1rem;
    }

}

/* --------------- mobile media queries --------------- */

@media only screen and (max-width: 580px) { /* mobile*/
    /* nav */

    nav {
        height: 4rem;
        padding: 0 0rem 0 0.75rem; /*top right bot left*/
    }

    nav a {
        font-size: 0.9rem;
        font-weight: 100;
        padding:1rem 0;
    }

    #logoFont {
        font-size: 1.1rem;
        padding: 1rem 0.5rem;
    }

    #hide-on-mobile {
        display: none;
    }

    #show-on-mobile a {
        display: inline;
        padding:1rem;
    }

    .introduction h2 {
        font-size: 2.1rem;
        line-height: 2.4rem;
        letter-spacing: -0.03rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1rem; /*16px*/ 
    }

    h4 {
        font-size: 0.9rem; /*16px*/ 
    }

    /* homepage */

    .page-content {
        margin:4rem 1rem 0 1rem; /*top right bot left*/
        scroll-snap-type:none;
    }

    .featured-project {
        gap: 1rem;
    }

    #footer {
        padding: 1.75rem 0;
    }

    #show-on-mobile i {
        display: inline;
        padding: 0;
    }
    
    #footer ul {
        gap: 0rem;
    }

    /* project page */

    .one-page {
        min-height: auto;
    }

    .stickyPage {
        position: relative;
        padding-bottom: 3rem;
    }

    .textPin ul {
        display: none;
    }

    #section-title {
        width: 90%;
        padding:4rem 0 2.5rem 0;
    }

    #body-width {
        width:90%;
    }
}
